{% extends './base.html' %}

{% block content %}
<div class="container">
<h1>
    <b>Hi!</b> i am <b>@sterlia3</b>, currently a college student.
    <br>
    I have built this website for it to be a way for people to see my art in a gallery format.
    <br>
    I study computer science at college. I built this website using python (django framework).
    <br>
    I am a self taught artist, I have not attended any classes.
    I started drawing during lockdown, and it just sort of stayed with me!
    <br>
    All in all, <b> I Enjoy Drawing! </b>
    
</h1>
</div>
{% endblock %}