{% extends './base.html' %}
{% block content %}

<div class="container">
{% for post in posts %}
<h4 style="color: rgb(220, 0, 136); font-weight: bolder;">{{post.title}}</h4>
    <hr style="height: 20px; border: 0;background-color: darkblue;">
    by {{post.artist}}
    <br>
    
    {% if post.created_date == post.updated_date %}
    <b><i><h6>
    Posted on: {{post.created_date}}
    </h6></i></b>
    {% else %}
    <b><i><h6>
    Posted on: {{post.created_date}}
    <br>
    Updated on: {{post.updated_date}}
    </h6></i></b>
    {% endif %}
    
    <hr>
    <b>
    <p>
        {{post.description}}
    </p>
    </b>
    <img src="{{ post.art_image.url }}" class="img-fluid" alt="...">

    
    
{% endfor %}
</div>
{% endblock %}