{% extends './base.html' %}



{% block content %}
<div class="container">
<!-- <h4>
    Gallery
</h4> -->
<style>
    .disp-images {
     display: flex;
     flex-wrap: wrap;
     padding: 5px;
     justify-content: space-evenly;
    }
    .focused-image:hover {
        border:2px solid magenta;
        border-radius: 1px;
        transition: width 2s;
    }

</style>

<div class="disp-images">
{% for post in posts %}
    <div class="focused-image">
            <a href="{% url 'art_details' post.id %}">
                <img src=" {{ post.art_image.url }}" alt="Sorry for the inconvenience." width = "300px" height="300px" class="rounded mx-auto d-block" >
            </a> 
        </div>
{% endfor %} 
</div>
</div>
{% endblock %}
