{% extends './base.html' %}



{% block content %}
<div class="container">
<!-- <h4>
    Gallery
</h4> -->
<style>
    .disp-images {
     display: flex;
     flex-wrap: wrap;
     padding: 5px;
     justify-content: space-evenly;
    }
    .focused-image{
        margin: 5px;
    }
    .pics{
        margin: 5px;
    }

    #tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
#tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
#tooltip:hover .tooltiptext {
  visibility: visible;
}

</style>

{% for message in messages %}

<div class="alert alert-secondary" role="alert">
  {{message}}
  <button type="close" data-dismiss="alert" aria-label="close"></button>
</div>

{% endfor %}

<div class="disp-images" >
{% for post in posts %}
    <div class="focused-image" id="tooltip">
        <span class="tooltiptext">{{post.title}}</span>
        <a href="{% url 'art_details' post.id %}" class = "pics">
            <img src=" {{ post.art_image.url }}" alt="Sorry for the inconvenience." width = "300px" height="300px" class="card-img-top" >
        </a> 
    </div>
{% endfor %} 
</div>
</div>
{% endblock %}
